@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

.overlay {
    font-family: 'Poppins', sans-serif !important;
}

.overlay button {
   
}
#absbtn {
    font-family: 'Poppins', sans-serif !important;
    width: 100%;
    
    bottom: 0px;

    position: absolute;
}

.overlay input {
    font-family: 'Poppins', sans-serif !important;
    padding: 16px 8px;
    border: none;
    
    width: 100%;
  
}

.overlay select {
    font-family: 'Poppins', sans-serif !important;
    padding: 16px 8px;
    border: none;
    

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgb(11 11 11 / 24%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    backdrop-filter: blur(9px);
}
.payment-card-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 360px;
    max-height: 640px;
    
}

.payment-card {
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
   
}

.loading {
    position: absolute;
    max-height: 640px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(37px);
}

.payment-card-header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    
    
   
}

.payment-info-text {
    font-size: 24px;
    font-weight: 500;
    margin-block-start: 0;
    margin-block-end: 0;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.flex-1 {
    flex: 1 0 auto;
}

input, select {
    margin: 8px;
}


.flex-shrink {
    flex: 1 1 0;
    min-width: 0;
}

.pay-button {
    appearance: none;
    border: none;
    padding: 16px 8px;
}

:focus {
    outline: none;
}

.loading-animation {
    object-fit: contain;
    object-position: center;
    max-width: 80px;
}

.hide {
    display: none;
}

.error {
    border: 1px solid red;
}


.payment-card-header-container {
    background-color:#fff;
    display:flex;
    align-items: center;
    /* background-color: black; */
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    background-color: #06bcfb;
background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
background: linear-gradient(125deg, #00FF57 0%, #010033 40%, #460043 70%, #F0FFC5 100%), linear-gradient(55deg, #0014C9 0%, #410060 100%), linear-gradient(300deg, #FFC700 0%, #001AFF 100%), radial-gradient(135% 215% at 115% 40%, #393939 0%, #393939 40%, #849561 calc(40% + 1px), #849561 60%, #EED690 calc(60% + 1px), #EED690 80%, #ECEFD8 calc(80% + 1px), #ECEFD8 100%), linear-gradient(125deg, #282D4F 0%, #282D4F 40%, #23103A calc(40% + 1px), #23103A 70%, #A0204C calc(70% + 1px), #A0204C 88%, #FF6C00 calc(88% + 1px), #FF6C00 100%);
background-blend-mode: overlay, screen, overlay, overlay, normal;
    color:#fff;
}
.payment-card-header-container img{

    height: 100%; 
    width: 100%; 
    object-fit: contain;
  

    
   

}
.payment-card-header-companyname{

 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 600;


}

.payment-card-header-extrainfo{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
   
   
   }
   

.payment-card-header-logo-border {

    border-radius: 10%;
    margin: 10px;
    padding: 10px;
    background-color: white;

    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    width: 90px;
    height: 90px;
    /* max-width: 400px; */
    overflow: hidden;


}

.payment-card-header-close-button{

    position: absolute;
    top: 0px;
    left: calc(100% - 28px);
    padding: 9px;
    /* background: #000000; */
  
    border-radius: 100%;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.payment-card-companyname {
    /* margin: 0px auto; */
    margin-bottom: 10px;
    font-size: 10px;
    color: gray;
    position: absolute;
    bottom: 0px;
    margin-bottom: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.payment-card-header-email-icon{
    width: 5%;
    height: 30%;
    margin-left: 10px;
}

.payment-card-header-email-container{
display: flex;
align-items: center;
box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
margin:8px;
/* flex-direction: row-reverse; */
}

.payment-card-header-mobilenumber-section{

display: flex;
align-items: center;
box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
margin:8px;
}

.payment-card-header-email-container:focus-within{
   
   
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    }

    .payment-card-header-mobilenumber-section:focus-within{

        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
        }



/* CSS */
.button-58 {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-58:focus {
  color: #171e29;
}

.button-58:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button-58:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}

.payment-methods-all-active{

display: flex;
flex-direction: column;
}
.payment-methods-all-active::first-line ::before{

content: "asdsd";
}
     

        .payment-methods-cards{
         
            box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
            margin:10px;
            padding:20px;

        }

        .payment-methods-cards:hover{
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
            cursor: pointer;

        }

        .payment-profile{

            /* box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset; */
            margin:8px;
            padding:6px;
            /* border:1px red solid; */
            border: 1px rgb(230, 230, 230) solid;
            /* background-color: rgba(173, 173, 173, 0.397); */
            align-items: center;

            
        }

        #frame2{

            overflow-y: auto;
            
        
        }

        #frame3{

            overflow-y: auto;
            margin-bottom: 20%;
        
        }

        .payment-profile{

            display:flex;
            justify-content: space-between;
            padding:20px;
            
        }

        .payment-profile:hover{
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            cursor:pointer;

        }
        .payment-profile-name{

            font-size: 15px;
            text-overflow: ellipsis;
            width:70%;
            padding:5px;
            overflow: hidden;
            margin:2px;
           


        }
        

        .payment-profile-email{

            font-size: 15px;
            border-left: 1px rgb(230, 230, 230) solid;
            /* border-left: 1px red solid; */
            width:70%;
            padding:5px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin:2px;
            display: flex;
            flex-direction: row-reverse;
            
        }
        .payment-methods-cards-load{

            display: flex;
            justify-content: space-between;
            align-items: center;
            /* margin:20px; */
            margin-top: 10px;
            flex-wrap: wrap;
           


        }
        .payment-icon{

           
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            height: 100px;
            width:min-content;
            padding: 10px;
            margin:10px;
            display: flex;
            /* height: 100%; */
            /* width: 100%; */
            justify-content: center;
            align-items: center;
            width:43%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        }
        .payment-icon:hover{
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            cursor: pointer;
        }
        .payment-card-image-load{

            width:75px;
            
            


        }

        .back-button{

           
           /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
           
           /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
           padding:5px;
           cursor: pointer;
           /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
           box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
           /* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px; */
           
        }
        .otp-container{

            margin:0px !important;
            padding: 0px !important;;


        }
        .otp-container{
            width: 100%;
            overflow: hidden;
            margin: 10px;
            text-align: center;
        }

        .otp-area{

            display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
        }

        .otp-area input{
           
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        }

        .otp-area input:focus{
            box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
        }
/* CSS */
.otp-area button#primary{
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  
  color: #fff;
  cursor: pointer;
 
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 10px;
  margin: 0;
  margin-bottom:15px;
  
  width:100%;
  padding: 10px 10px;
 
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.otp-area button#primary:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .otp-area button {
    padding: 10px 10px;
    width:100%;
  }
}


.button-8 {
    margin:3px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-8:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button-8:focus {
  border-color: #485fc7;
  outline: 0;
}

.button-8:hover {
  border-color: #b5b5b5;
}

.button-8:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}
.address-box{

    padding:10px;
    font-size: 12px;
}
.button-62 {
margin:3px;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: .375em;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.contact-details-text-wrapper{

display: flex;
justify-content: space-between;
}
.contact-details, .address-provided-wrapper, .order-wrapper{

    margin: 10px;
   
   
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    

    padding: 10px;
    line-height: 30px;

}

.contact-details-text, .address-header-container, .order-header{

    display:flex;
    flex-direction:row;
   
    
    font-size: 12px;
   
    
   
    

}

.contact-details-favicon, .address-header-favicon{
    padding-right:10px;
 

}


.email-provided-text{

display: flex;
flex-direction: row;
color:gray;
font-size: 12px;
}

.email-provided-favicon{
padding-right:10px;
}

.phone-provided-text{

display: flex;
flex-direction: row;
color: gray;
font-size: 12px;
}

.phone-provided-favicon{

padding-right: 10px;
}

.edit-contact .button-8{

color:#528FF0;
font-weight: 600;
    font-size: 12px;
}

.address-complete{

    font-size: 12px;
    color:gray;

}

.address-header-edit .button-8{
    color:#528FF0;
    font-weight: 600;
        font-size: 12px;
}

.order-details{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
   
    font-size: 12px;
    color:gray;
}

.address-box-delete{

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;

}

.address-wrapper, .overview-wrapper{

    margin-bottom:20%;
   
}


.address-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}



.country_pin_wrapper{
    
    display: flex;

}

.country_pin_wrapper > select {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 16px 8px;
    margin:4px 8px 8px;
    width:50%;
    



}

.country_pin_wrapper > input {

    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    width:50%;
}

.city_state_wrapper {
    display: flex;
    justify-content: space-between;
    
}

.city_state_wrapper > input {
    width:50%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

}

.full_address_wrapper{

display: flex;
flex-direction: column;

}

.full_address_wrapper > textarea {
    
    margin:4px 8px 8px;
    padding:16px;
    border:none;
    font-family: 'Poppins', sans-serif !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.address-change-btn .button-8 {
color:#0014C9;
font-weight: 600;
    font-size: 12px;
}

.billing-phone-wrapper{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    display: flex;
    
    margin:4px 8px 8px;
}
.billing-name-wrapper{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    margin: 4px 8px 8px;
    display: flex;
}

.address-title-icon{

display: flex;
flex-direction: row;
align-items: center;
}
.fa-map-marker-alt {

color:#0014C9;
font-size: 14px;
}

.address-title{

padding-left:10px;
color:#0014C9;
font-weight: 400;
font-size: 14px;
}

.save_address_permission{

display:flex;
padding: 10px;
align-items: center;
}
.save_address_permission_checkbox{
width: 30px !important;
padding: 20px !important;
margin: 0px !important;

}

.save_address_permission_checkbox label {

padding :0px !important;
}

.coupons-wrapper {
    display:flex;
    margin:10px;
    padding:10px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}

.coupons-inner-wrapper{

    display: flex;
    align-items: center;


}

.coupons-discount-text {

padding-left:10px;
font-size: 12px;
color:gray;

}

.coupons_wrapper_parent {

margin:10px;
display: flex;
flex-direction: column;
font-size: 13px;
}


.coupons-header{

color: #0014C9;
display: flex;
font-family: 'Poppins', sans-serif !important;

}
.coupons-header-text{

padding-left: 10px;
}

.coupons_header_wrapper{

display: flex;
justify-content: space-between;
align-items: center;
}


.coupons-list-child{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 10px;
    margin-top:5px;
}

.coupons-list-child-text{
color: #000000;
font-size: 14px;
font-weight: 600;
padding: 10px;
border-bottom:rgba(0, 0, 0, 0.02) 1px solid;
background-color: rgba(98, 172, 255, 0.06);
color: rgba(57, 100, 168, 1);
font-weight: 800;
font-size: 14px;
line-height: 20px;
border: 1px dashed rgba(57, 100, 168, 1);
width: 50%;


}

.payment-methods-preffered-icon img{

width:40px;

}
.payment-methods-preffered{
    margin: 10px;
    font-size: 13px;
  
    
    align-items: center;
    background-color: rgba(98, 172, 255, 0.06);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    display: flex;
    justify-content: space-between;


}

.payment-methods-preffered:hover{

    background-color: rgba(98, 172, 255, 0.1);
   



}

.payment-methods-preffered-left-wrapper{

    display: flex;
    
    color: black;
    padding: 10px;
    width: 75%;
   
}
.payment-methods-preffered-text{

display: flex;
flex-direction: column;
}

.payment-methods-preffered-icon{
padding:10px;
}



.payment-methods-cards-load-text{

margin: 50% auto;
font-size: 13px;
color: gray;
font-weight: 600;



}

.payment-loader-checker{

margin-top:30%;

text-align: center;

}

.payment-loader-checker > div{


margin: 0px auto;
font-size: 18px;
color: gray;
margin:0px auto;


}

#rapyd-checkout {

    position: absolute;top: 0px;background: #ffffffc2;width: 100%;display: flex;backdrop-filter: blur(47px);/* background: center; */margin: 0px auto;box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    

}

.coupons-header{

display: flex;
justify-content: space-between;
}

.small {

    font-size: 12px;
    color: #ffffff;
 
    width: 10%;


}

.coupons-list-child-value{


    margin-top:10px;

}

.payment-methods-preffered-right-wrapper{

display: flex;
flex-direction: row;
align-items: center;
}

.payment-methods-preffered-delete-icon {

    
    font-size: 12px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    color: #001AFF;
}